<div class="container">
	<h1>
	<a href="https://github.com/vtt01uk/Commit2it#README">About this Project</a>
	</h1>
	<div class="container">
	<h4><i>Be a better you</i></h4>
		<p>
	Welcome to Commit2it; a blog-site where like-minded people share their goals and gain advice, tips & tricks from others who have been on similar journeys or similar paths.
		</p>
		<p>
	Whether it be losing weight, running a marathon, getting a job at a particular company or helping others at a shelter home, at Commit2it, you will find others just like you.
		</p>
		<p>
	You are not alone in your quest to be better, do better or feel better so let's help each other achieve amazing results!
		</p>

<!--			<%= link_to 'Home', root_path %>-->
	</div>
</div>