//Used colour picker: http://www.w3schools.com/colors/colors_colorpicker.asp
$navbar-default-bg: #99ccff;

//Import Bootstrap styles
@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
	float: left;
	font-size: 1.7em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}

#logo:hover {
	color: #000;
	text-decoration: none;
}

.center {
	text-align: center;
}

.jumbotron {
	background-image: asset-url('Elon-Musk.jpg');
	background-size: cover;
	height: 400px;
}

.jumbotron h1 {
	color:#fff;
	text-align: center;
	margin-top: 90px;
	margin-bottom: 30px;
}

.btn-xlarge {
	font-size: 1.7em;
//	background-color: #000;
}

.goal-meta-details {
	border-top: 1px solid #EAEAEA;
	margin-top: 15px;
}

.goal-actions {
	border-top: 1px solid #EAEAEA;
	padding-top: 5px;
}

.description {
	margin-top: 0;
}

.goal-title {
	font-weight: bold;
	font-size: 1.5em;
}

.goal-body {
	border-top: 1px solid #EAEAEA;
	padding-top: 15px;
	padding-bottom: 15px;
}

.listing {
	list-style: none;
	padding-left: 0;
}

footer {
	marging-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #EAEAEA;
	color: #777;
}

footer a:hover {
	color: #222;
}

footer small {
	float: left;
}

footer ul {
	float: right;
	list-style: none;
}

footer ul li {
	float: left;
	margin-left: 15px;
}