<div class="container">
	<footer class="footer">
		<small>
			Copyright &copy;
			<a href="strongpoint.io">Strongpoint Studios</a> by 
			<a href="http://github.com/vtt01uk">vtt01uk</a>
		</small>
		<nav>
			<ul>
				<li><%= link_to "About", about_path%></li>
			</ul>
		</nav>
	</footer>
</div>